img {
    display: block;
    margin: 40px auto;
    width: 30%;
    border-radius: 50px;
    border: 2px solid rgb(181, 251, 251);
    box-shadow:  2px 2px 20px rgb(175, 216, 241),
                 -2px -2px 20px rgb(175, 216, 241);

}

body {
    width: 100%;
    background-color: rgb(2, 6, 29);
    height: 20vh;
}

h1{
    display: block;
    margin-top: 210px;
    color: whitesmoke;
    font-family: Dela Gothic One;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
}